$color-text: #342B4A;
$color-white: #FFFFFF;
$color-blue: #662DFC;
$color-green: #27AE60;
$color-red: #EE5151;
$color-violet-wt: #B396FD;

// Переменные в css для смены темы
:root {
  --default-bg-color: #FFFFFF;
  --default-elements-bg-color: #FFFFFF;
  --default-sup-text-color: #662DFC;
  --default-shadow-block-color: #EAE8FD;
  --default-input-border-color: #EAE8FD;
  --default-sup-text-color-ph: #D6D6D6;
}