.card-task {
  background: var(--default-shadow-block-color);
  border-radius: 18.5px;
  padding: 5px;
  transition: .3s transform ease-in-out, .3s background ease-in-out;

  &.remove {
    transform: scale(0);
  }

  &__content {
    border: 1px solid #B396FD;
    border-radius: 14px;
    padding: 10px 20px;
    background: var(--default-elements-bg-color);
    color: var(--default-text-color);
    transition: .3s background ease-in-out, .3s color ease-in-out;
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-weight: 900;
  }

  &__btn {
    display: flex;
    align-items: flex-start;

    & button:not(:last-child) {
      margin-right: 5px;
    }
  }

  &__сomplete {
    & input:checked+.icon-complete::before {
      opacity: 1;
    }

    & input {
      display: none;
    }
  }
}