@import '../helpers/variables';

.custom-input {
  border: 1px solid var(--default-input-border-color);
  box-sizing: border-box;
  border-radius: 18.5px;
  outline: none;
  padding: 10px 15px;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
  background: var(--default-bg-color);
  transition: .3s background ease-in-out, .3s border ease-in-out;

  &::placeholder {
    color: var(--default-sup-text-color-ph);
    transition: .3s color ease-in-out;
  }

  &:focus {
    color: $color-blue;
    border: 1px solid $color-blue;
    caret-color: $color-blue;
    transition: .4s;
  }

  &.error {
    border: 1px solid #EE5151;
  }
}


.custom-btn {
  background: linear-gradient(0deg, $color-blue, $color-blue);
  box-shadow: 0px 8px 25px rgba(102, 45, 252, 0.26);
  border-radius: 22.5px;
  color: $color-white;
  padding: 13px 35px;
  border: none;
  cursor: pointer;
  outline: none;
}