@import '../helpers/variables';

.js-container-tasks {
  transition: .3s transform ease-in-out;

  &.animate {
    transform: scale(0);
  }
}

.form {
  background: var(--default-shadow-block-color);
  border-radius: 18.5px;
  padding: 5px;
  width: 60%;
  margin: 0 auto;
  transition: .3s background ease-in-out;

  &__content {
    border: 1px solid $color-violet-wt;
    border-radius: 14px;
    padding: 30px;
    background: var(--default-elements-bg-color);
    transition: .3s background ease-in-out;
  }

  &__block {
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}