@import '../helpers/variables';

.js-container-tasks {
  opacity: 1;

  &.animate {
    opacity: 0;
  }
}

.form {
  background: #EAE8FD;
  border-radius: 18.5px;
  padding: 5px;
  width: 60%;
  margin: 0 auto;

  &__content {
    border: 1px solid #B396FD;
    border-radius: 14px;
    padding: 30px;
    background: $color-white;
  }

  &__block {
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}