$icon-box-shadow: 0px 8px 15px rgba(39, 174, 96, 0.25);

.icon-complete {
  background: $color-green;
  box-shadow: $icon-box-shadow;
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    left: 4px;
    top: 6px;
    position: absolute;
    width: 9px;
    height: 4px;
    border-radius: 1px;
    border-left: 3px solid $color-white;
    border-bottom: 3px solid $color-white;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    opacity: 0;
    transition: .3s opacity ease-in-out;
  }
}

.icon-delete {
  background: $color-red;
  box-shadow: $icon-box-shadow;
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  position: relative;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 12px;
    height: 3px;
    background: $color-white;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.icon-edit {
  background: $color-blue;
  box-shadow: $icon-box-shadow;
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 9px;
    height: 4px;
    background: $color-white;
  }
}