@import '../helpers/variables';

.switch {
  position: relative;
  display: inline-block;

  & input[type=checkbox] {
    display: none;
  }

  &__box {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 4px;
      width: 15px;
      height: 15px;
      background: $color-white;
      border-radius: 90px;
      transition: 0.3s;
    }
  }
}

.switch input {
  &:checked+.switch__box {
    background-color: $color-blue;
  }

  &:focus+.switch__box {
    box-shadow: 0 0 1px $color-blue;
  }

  &:checked+.switch__box::before {
    left: calc(100% - 5px);
    transform: translateX(-100%) translateY(-50%);
  }
}