@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');
@import "~normalize.css";

// helpers
@import './helpers/variables';

// blocks
@import './blocks/header.scss';
@import './blocks/form.scss';
@import './blocks/switch.scss';
@import './blocks/custom-elements.scss';
@import './blocks/card-task.scss';
@import './blocks/tabs.scss';
@import './blocks/icons.scss';

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: var("--default-text-color");
  font-size: 16px;
  min-height: 100vh;
  background: var(--default-bg-color);
  transition: .3s background ease-in-out, .3s color ease-in-out;
}

.wrapper {
  position: relative;
}

.container {
  max-width: 768px;
  margin: 0 auto;
}

.content {
  &__top {
    margin-bottom: 30px;
  }

  &__body {
    width: 60%;
    margin: 0 auto;
  }

  &__tabs {
    margin-bottom: 15px;
  }
}

button {
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: inherit;
}

input {
  color: inherit;
}

textarea {
  resize: none;
}